<footer class="jumbotron">
    <div class="text-center text-white">
      <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-8 mt-2">
                <p style="color: white;">© 2023 Manuel Camilo Ome Mosquera</p>
            </div>
        </div>
        <div class="text-center mb-2">
            <a href="https://www.facebook.com/https://www.facebook.com/manuelcamilo.omemosquera?mibextid=ZbWKwL" class="text-white me-4">
                <i class="fa fa-facebook-f"></i>
            </a>
            <a href="https://api.whatsapp.com/send?phone=3156627794" class="text-white me-4">
                <i class="fa fa-whatsapp"></i>
            </a>
            <a href="https://www.instagram.com/https://instagram.com/milo_2916?igshid=MzMyNGUyNmU2YQ==" class="text-white me-4">
                <i class="fa fa-instagram"></i>
            </a>
            <a href="mailto:miloome2023@gmail.com" class="text-white me-4">
                <i class="fa fa-envelope"></i>
            </a>
        </div>
      </div>
    </div>
  </footer>